<%= form_tag  responses_path  do %>
  <%= hidden_field_tag 'survey[id]', @survey.id %>
  <div>
<% @survey.questions.each do |question| %> 
<h6> <%= question.title %>  </h6> <br>

		 
<% question.options.each do |option| %> 
	
<%= radio_button_tag question.id, option.id %>

<%= label_tag option.otext %> 
	
		 	 

 


 <br>
 
 <% end %>	
  
<% end %>
 </div>
<%= submit_tag 'submit', class: 'btn btn-lg btn-primary' %>

<% end %>

