<h4 style="display: inline-block"> <%= "#{@survey.name}" %> </h4> <br>
<p><%= " Reward Per Participant:#{@survey.reward}) Participants Limit :#{@survey.plimit}, Total Reward :#{number_to_currency(@survey.totalr.to_f, unit: "FBC ")}" %></p>


<% @survey.questions.each do |question| %>
  	
<ul> <%= question.title  %>
	<% question.options.each do |option| %> 
	<li class="nested-fileds"> <%= option.otext  %> </li>
	<% end  %>
	</ul>
<% end  %>



<% if current_user.admin? %>
              <%= link_to 'Approve', @survey, confirm: 'Are you sure?', method: :approve, class: 'btn btn-primary' unless @survey.approved? %>
              <%= link_to 'Edit Survey', edit_survey_path(@survey),  class: 'btn btn-primary' unless @survey.finished? %>
              <%= link_to 'Edit Survey Profile', edit_profile_survey_path(@survey), class: 'btn btn-info' unless @survey.finished? %>
 <% elsif current_user.id == @survey.user_id  %>
 <%= link_to 'Edit Survey', edit_survey_path(@survey),  class: 'btn btn-primary' unless @survey.finished? %>

<% end  %>


<% if @survey.profile != nil && (current_user.admin? or (current_user.id == @survey.user_id))  %>

<div class="profiles">
<%= @country.name %>
<%= @state.name %>
<%= @survey.profile.gender %>
<%= @survey.profile.lang %>
<%= @survey.profile.max_age %>
<%= @survey.profile.min_age %>

</div>

<% end  %>