<!DOCTYPE html>
<html>
  <head>
    <title>Poller</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body>   

    
      <%= render 'surveys/head_file'%>

<% unless notice.nil? %>
       <p class="alert alert-success"> <%= notice %> </p> 
       <% end %>
       <% unless alert.nil? %>
       <p class= "alert alert-danger">  <%= alert %> </p> 
       <% end %>
      
      

<%= yield %>


</div>
  </body>
</html>

 
