<!DOCTYPE html>
<html>
  <head>
    <title>Poller</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body>   
<% if user_signed_in? %>
    
      <%= render 'surveys/head_file'%>

<% unless notice.nil? %>
       <p class="alert alert-success"> <%= notice %> </p> 
       <% end %>
       <% unless alert.nil? %>
       <p class= "alert alert-danger">  <%= alert %> </p> 
       <% end %>
      
      

<%= yield %>

</div>
<% else %>
<%= render 'surveys/head_file'%>
<div class="container" > <%= yield %> </div>

<%= render 'shared/index_unsigned'%>

<% end %>
  </body>
</html>

 
